.button {
	text-align: left;
	color: white;
	background-color: purple;
	padding: 3px;
	font-size: 1em;
	border: none;
	font-size: 12px;
	font-weight: bold;
	width: 300px;
	height: 70px;
}

.gradient {
	background-image: linear-gradient(bottom, rgb(69,5,69) 8%, rgb(128,0,128) 56%, rgb(173,10,173) 77%);
	background-image: -o-linear-gradient(bottom, rgb(69,5,69) 8%, rgb(128,0,128) 56%, rgb(173,10,173) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(69,5,69) 8%, rgb(128,0,128) 56%, rgb(173,10,173) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(69,5,69) 8%, rgb(128,0,128) 56%, rgb(173,10,173) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(69,5,69) 8%, rgb(128,0,128) 56%, rgb(173,10,173) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.08, rgb(69,5,69)),
		color-stop(0.56, rgb(128,0,128)),
	 	color-stop(0.77, rgb(173,10,173))
);
}

.arrow {
	float: right;
	padding-top: 8px;
	padding-right: 5px;
}

p {
	margin: 5px;
	padding-left: 8px;
}

.top {
	float: left;
	font-size: 1.5em;
	padding-top: 5px;
}

.bottom {
	padding-bottom: 5px;
	float: left;
	clear: left;
}

.corner {
	-mox-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}